[core]
	editor       = vim
	pager        = less
	excludesfile = ~/.gitignore
[color]
	status = auto
	diff   = auto
	branch = auto
	ui     = true
[alias]
	listbranches = branch --verbose --verbose
	update       = add --all
	dry          = add --all --dry-run
	a            = add --ignore-removal
	d            = diff --minimal
	diffstat     = diff --stat
	changed      = diff --diff-filter=MR
	l            = log --oneline --decorate
	lg           = log --oneline --decorate --graph --all
	newest       = log --oneline --decorate -10
	ls           = ls-tree -r --name-only HEAD
	la           = ls-tree -r --name-only HEAD
	shove        = push --force
	s            = status
	ss           = status --short
[push]
	default = simple
[http]
	postBuffer = 1099511627776
