## syntax highlighting
include "/usr/local/share/nano/nanorc.nanorc"
include "/usr/local/share/nano/c.nanorc"
include "/usr/local/share/nano/css.nanorc"
include "/usr/local/share/nano/debian.nanorc"
include "/usr/local/share/nano/gentoo.nanorc"
include "/usr/local/share/nano/html.nanorc"
include "/usr/local/share/nano/php.nanorc"
include "/usr/local/share/nano/tcl.nanorc"
include "/usr/local/share/nano/tex.nanorc"
include "/usr/local/share/nano/mutt.nanorc"
include "/usr/local/share/nano/patch.nanorc"
include "/usr/local/share/nano/man.nanorc"
include "/usr/local/share/nano/groff.nanorc"
include "/usr/local/share/nano/perl.nanorc"
include "/usr/local/share/nano/ruby.nanorc"
include "/usr/local/share/nano/java.nanorc"
## http://nanosyntax.googlecode.com/svn/trunk/syntax-nanorc/js.nanorc
include "/usr/local/share/nano/js.nanorc"
include "/usr/local/share/nano/awk.nanorc"
include "/usr/local/share/nano/asm.nanorc"
include "/usr/local/share/nano/sh.nanorc"
include "/usr/local/share/nano/pov.nanorc"
include "/usr/local/share/nano/xml.nanorc"
include "/usr/local/share/nano/python.nanorc"

## use smooth scrolling as the default.
set smooth

## use this tab size instead of the default; it must be greater than 0.
set tabsize 4

## use autoindentation
set autoindent

## hide the help at bottom
set nohelp

## remove blank line below titlebar
unset morespace

## allow inserting files into their own buffers
set multibuffer
