"*":
  autosave:
    enabled: true
  core:
    audioBeep: false
    disabledPackages: [
      "archive-view"
      "autocomplete-atom-api"
      "autocomplete-plus"
      "autocomplete-snippets"
      "autoflow"
      "background-tips"
      "bookmarks"
      "command-palette"
      "dev-live-reload"
      "deprecation-cop"
      "image-view"
      "language-todo"
      "link"
      "wrap-guide"
      "welcome"
      "styleguide"
      "symbols-view"
      "snippets"
      "encoding-selector"
      "metrics"
      "exception-reporting"
      "spell-check"
      "autocomplete-css"
      "autocomplete-html"
      "fuzzy-finder"
      "git-diff"
      "markdown-preview"
      "open-on-github"
      "language-hyperlink"
      "incompatible-packages"
      "update-package-dependencies"
      "timecop"
      "package-generator"
      "line-ending-selector"
      "language-javascript"
    ]
    openEmptyEditorOnStart: false
  "custom-title":
    template: "<% if (projectName) { %><%= projectName %><% } %>"
  editor:
    fontFamily: "Consolas"
    invisibles: {}
    showInvisibles: true
    tabLength: 4
    tabType: "soft"
  "find-and-replace": {}
  "language-babel": {}
  "markdown-preview":
    useGitHubStyle: true
  "one-dark-ui":
    layoutMode: "Spacious"
  "spell-check": {}
  "status-bar": {}
  tabs:
    usePreviewTabs: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
    sortFoldersBeforeFiles: false
  welcome:
    showOnStartup: false
