/* GitHub */
.github textarea {
	font-family: Consolas, monospace !important;
	min-height: 200px !important;
}
.github .highlight .c1,
.github .highlight .c,
.github .highlight .cm,
.github .highlight .cp,
.github .highlight .cs {
	font-style: normal !important;
}
.github .markdown-body code,
.github .markdown-body tt,
.github .markdown-body pre {
	border-radius: 0 !important;
}
